Repository ivanmeda/nextjs-fullstack-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --no-warn-ignored

feat: add Better Auth with email/password, auth forms, and middleware
  package-lock.json
  package.json
  src/app/(auth)/reset-password/page.tsx
  src/app/(auth)/sign-in/page.tsx
  src/app/(auth)/sign-up/page.tsx
  src/app/(auth)/verify-email/page.tsx
  src/app/api/auth/[...all]/route.ts
  src/components/forms/sign-in-form.tsx
  src/components/forms/sign-up-form.tsx
  src/lib/validators.ts
  src/middleware.ts
  src/server/auth/client.ts
  src/server/auth/index.ts
Due: prettier --write, eslint --fix --no-warn-ignored

feat: add nuqs for URL state and Zustand for client state
  package-lock.json
  package.json
  src/hooks/use-media-query.ts
  src/stores/ui-store.ts
Due: prettier --write, eslint --fix --no-warn-ignored

feat: add Inngest with email, file processing, AI, and cron functions
  package-lock.json
  package.json
  src/app/api/inngest/route.ts
  src/inngest/client.ts
  src/inngest/functions/ai-tasks.ts
  src/inngest/functions/cron.ts
  src/inngest/functions/email.ts
  src/inngest/functions/file-processing.ts
  src/inngest/index.ts
Due: prettier --write, eslint --fix --no-warn-ignored

feat: add providers wrapper, dashboard layout, sidebar, header, loading skeletons
  src/app/(dashboard)/dashboard/loading.tsx
  src/app/(dashboard)/dashboard/page.tsx
  src/app/(dashboard)/layout.tsx
  src/app/(dashboard)/settings/page.tsx
  src/app/(marketing)/pricing/page.tsx
  src/app/layout.tsx
  src/components/layout/header.tsx
  src/components/layout/sidebar.tsx
  src/components/providers/index.tsx
  src/components/shared/error-boundary.tsx
  src/components/shared/loading-skeleton.tsx
Due: prettier --write, eslint --fix --no-warn-ignored

docs: add README, AGENTS.md, PROJECT-STATUS, dependabot config
  .github/dependabot.yml
  AGENTS.md
  README.md
  docs/PROJECT-STATUS.md
  package.json
Due: prettier --write

fix: add auth check to AI chat streaming route
  src/app/api/chat/route.ts
Due: prettier --write, eslint --fix --no-warn-ignored

fix: include .env.example in git (was blocked by .env* wildcard)
  .env.example
  .gitignore
Due: none

fix: replace useState+useEffect with useSyncExternalStore in useMediaQuery
  src/hooks/use-media-query.ts
Due: prettier --write, eslint --fix --no-warn-ignored

fix: remove unused imports and variables
  src/app/api/upload/route.ts
  src/components/layout/header.tsx
  src/components/layout/sidebar.tsx
Due: prettier --write, eslint --fix --no-warn-ignored

fix: make husky git hooks executable
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

refactor: extract ResetPasswordForm into separate client component
  src/app/(auth)/reset-password/page.tsx
  src/components/forms/reset-password-form.tsx
Due: prettier --write, eslint --fix --no-warn-ignored

chore: update package-lock.json
  package-lock.json
Due: prettier --write

feat: add error boundaries for all route groups
  src/app/(auth)/error.tsx
  src/app/(dashboard)/error.tsx
  src/app/(marketing)/error.tsx
  src/app/error.tsx
Due: prettier --write, eslint --fix --no-warn-ignored

feat: add theme toggle component and integrate in dashboard header
  src/components/layout/header.tsx
  src/components/shared/theme-toggle.tsx
Due: prettier --write, eslint --fix --no-warn-ignored

feat: add marketing layout with header and footer
  src/app/(marketing)/layout.tsx
Due: prettier --write, eslint --fix --no-warn-ignored

feat: add ThemeProvider to root providers
  src/components/providers/index.tsx
Due: prettier --write, eslint --fix --no-warn-ignored

chore: add react-error-boundary dependency
  package-lock.json
  package.json
Due: prettier --write

feat: add LoadingFallback component
  src/components/shared/loading-fallback.tsx
Due: prettier --write, eslint --fix --no-warn-ignored

feat: add PostList client component with useSuspenseQuery
  src/components/dashboard/post-list.tsx
Due: prettier --write, eslint --fix --no-warn-ignored

refactor: merge ErrorBoundary into HydrateClient, remove QueryBoundary wrapper
  src/app/(dashboard)/dashboard/page.tsx
  src/components/shared/query-error-boundary.tsx
  src/trpc/server.tsx
Due: prettier --write, eslint --fix --no-warn-ignored

docs: comprehensive README with tech stack, patterns, env vars, folder structure, and scripts
  README.md
Due: prettier --write

docs: update AGENTS.md with complete tech stack, patterns, and conventions
  AGENTS.md
Due: prettier --write

ci: add Dependabot auto-merge for patch and minor updates
  .github/workflows/dependabot-auto-merge.yml
Due: prettier --write

fix: sync react to 19.2.4, add clean:install script
  package-lock.json
  package.json
Due: prettier --write

fix: use correct Vercel products format for Neon integration
  README.md
Due: prettier --write

fix: derive APP_URL and AUTH_URL from Vercel system env vars, relax all validations
  src/env.ts
Due: prettier --write, eslint --fix --no-warn-ignored

fix: add [locale] dynamic segment for next-intl (required even with localePrefix never)
  src/app/[locale]/(auth)/error.tsx
  src/app/[locale]/(auth)/reset-password/page.tsx
  src/app/[locale]/(auth)/sign-in/page.tsx
  src/app/[locale]/(auth)/sign-up/page.tsx
  src/app/[locale]/(auth)/verify-email/page.tsx
  src/app/[locale]/(dashboard)/dashboard/loading.tsx
  src/app/[locale]/(dashboard)/dashboard/page.tsx
  src/app/[locale]/(dashboard)/error.tsx
  src/app/[locale]/(dashboard)/layout.tsx
  src/app/[locale]/(dashboard)/settings/page.tsx
  src/app/[locale]/(marketing)/error.tsx
  src/app/[locale]/(marketing)/layout.tsx
  src/app/[locale]/(marketing)/pricing/page.tsx
  src/app/[locale]/error.tsx
  src/app/[locale]/layout.tsx
  src/app/[locale]/page.tsx
  src/app/layout.tsx
Due: prettier --write, eslint --fix --no-warn-ignored

chore: update build config and environment handling
  .gitignore
  next.config.ts
  package-lock.json
  package.json
  prisma.config.ts
Due: prettier --write, eslint --fix --no-warn-ignored

feat: add image support to post model and API
  prisma/schema.prisma
  src/lib/validators.ts
  src/trpc/routers/post.ts
Due: prettier --write, eslint --fix --no-warn-ignored

feat: add comprehensive i18n translation messages
  messages/en.json
  messages/sr.json
Due: prettier --write

fix: graceful email handling when RESEND_API_KEY is not set
  src/server/auth/index.ts
  src/server/email/index.ts
Due: prettier --write, eslint --fix --no-warn-ignored

feat: add locale switcher and internationalize shared components
  src/components/shared/chat-window.tsx
  src/components/shared/error-boundary.tsx
  src/components/shared/file-upload.tsx
  src/components/shared/loading-fallback.tsx
  src/components/shared/locale-switcher.tsx
  src/components/shared/query-error-boundary.tsx
  src/components/shared/theme-toggle.tsx
Due: prettier --write, eslint --fix --no-warn-ignored

feat: internationalize auth forms and pages
  src/app/[locale]/(auth)/error.tsx
  src/app/[locale]/(auth)/reset-password/page.tsx
  src/app/[locale]/(auth)/sign-in/page.tsx
  src/app/[locale]/(auth)/sign-up/page.tsx
  src/app/[locale]/(auth)/verify-email/page.tsx
  src/components/forms/reset-password-form.tsx
  src/components/forms/sign-in-form.tsx
  src/components/forms/sign-up-form.tsx
Due: prettier --write, eslint --fix --no-warn-ignored

feat: internationalize dashboard with post creation form
  src/app/[locale]/(dashboard)/dashboard/page.tsx
  src/app/[locale]/(dashboard)/error.tsx
  src/app/[locale]/(dashboard)/settings/page.tsx
  src/components/dashboard/create-post-form.tsx
  src/components/dashboard/post-list.tsx
  src/components/layout/header.tsx
  src/components/layout/sidebar.tsx
Due: prettier --write, eslint --fix --no-warn-ignored

feat: internationalize marketing pages and relocate homepage
  src/app/[locale]/(marketing)/error.tsx
  src/app/[locale]/(marketing)/layout.tsx
  src/app/[locale]/(marketing)/page.tsx
  src/app/[locale]/(marketing)/pricing/page.tsx
  src/app/[locale]/error.tsx
  src/app/[locale]/page.tsx
Due: prettier --write, eslint --fix --no-warn-ignored

docs: update documentation to reflect current state
  AGENTS.md
  README.md
  docs/PROJECT-STATUS.md
  src/app/[locale]/(dashboard)/dashboard/page.tsx
Due: prettier --write, eslint --fix --no-warn-ignored

feat: add project setup script (npm run setup)
  README.md
  package.json
  scripts/setup.mjs
Due: prettier --write, eslint --fix --no-warn-ignored

feat: add APP_NAME constant and use across layouts
  src/app/[locale]/(marketing)/layout.tsx
  src/app/layout.tsx
  src/lib/constants.ts
Due: prettier --write, eslint --fix --no-warn-ignored

feat: add React Query Devtools to TRPCReactProvider
  src/trpc/client.tsx
Due: prettier --write, eslint --fix --no-warn-ignored

feat: add custom 404 not-found pages with i18n
  messages/en.json
  messages/sr.json
  src/app/[locale]/[...rest]/page.tsx
  src/app/[locale]/not-found.tsx
  src/app/not-found.tsx
Due: prettier --write, eslint --fix --no-warn-ignored

Path conditions:
  prettier --write: (((any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})) or (any of: *.{json,md,mdx,yml,yaml})) or (any of: *.{css,scss})
  eslint --fix --no-warn-ignored: (any of: *.{ts,tsx}) or (any of: *.{js,jsx,mjs,cjs})
